<div class="container container-body">

	{{#each articleObj}}
		<div class="panel">
			<div class="panel-heading lightBlueStyle">
				<a href = "http://www.latimes.com{{link}}">{{headline}}</a>
			</div> <!--/.panel-heading-->
			<div class="panel-body">
				<p>{{slug}}</p>
				<p>Section: {{section}}</p>
				<p>Time Scraped: {{time}}</p>
				<p>Comments: {{commentsLength}}</p>
				<button type="button" class="btn btn-primary showBtn" id="showBtn{{_id}}" data_value="{{_id}}">Show Comments</button>
				<div class="hidden" id="{{_id}}">
					{{#each comments}}
						<hr>
						<div>
							<p class="commentText">{{commentText}}</p>
							<p>User: {{commentUser}}</p>
							<p>Time: {{commentTime}}</p>
						</div>
					{{/each}}
				</div> <!--/.hidden-->
				<hr>
				<form action="/comments/{{_id}}" method="POST">
					<textarea class="form-control" rows="3" name="commentText" id="commentText" placeholder="Comment"></textarea>
					<input type="text" name="commentUser" id="commentUser" placeholder="User Name">
					<button type="submit" class="btn btn-primary">Add Comment</button>
				</form>
			</div> <!--/.panel-body-->
		</div> <!--/.panel-->
	{{/each}}

</div> <!--/.container-->